.obsidian
.mongo-data
**.log
.DS_Store
**/dist
dist_plugin
**/*.egg-info
example
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pywz
# build
build/
*.vscode*
.DS_Store
deployment.dev
deployment.uat
deployment.prod